header {
    width: 100%;
    background: #DBDBDB;
    background-size: 46px 29px;
    height: 130px;
    border-bottom: 1px solid #E5E5E5;
}

header .header-content {
    height: auto;
    max-width: 1290px;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    width: 100%;
}

header a {
    border: none;
}

header .logo {
    position: absolute;
    left: 35px;
    top: 6px;
    z-index: 601;
}

header .logo a {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    width: 60px;
    height: 60px;
    background: url('assets/images/logo.png') no-repeat center;
    background-size: 60px 60px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#main-nav-wrap {
    display: table;
    float: right;
    font-family: "montserrat-regular", sans-serif;
    font-size: 15px;
    height: 78px;
}

.main-navigation {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
}

.main-navigation li {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 22px;
    padding: 0;
}

.main-navigation li:last-child {
    margin-right: 0;
}

.main-navigation li a {
    display: block;
    padding-bottom: 9px;
    color: #898989;
    border: none;
    text-decoration: none;
}

.main-navigation li a:hover {
    color: #000000;
}

.main-navigation li>a {
    border-bottom: 2px solid transparent;
}

.main-navigation .current {
    border-bottom: 2px solid #151515 !important;
    color: #000000 !important;
    font-family: "montserrat-bold", sans-serif !important;
}

.main-navigation ul {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    background: #f4f4f4;
    border-radius: 0 0 3px 3px;
    font-size: 11px;
    z-index: 500;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.main-navigation ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    left: calc(100% + 1px);
    border-radius: 0 3px 3px 3px;
}

.main-navigation ul li {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    min-height: 48px;
    width: 100%;
}

.main-navigation ul li:last-child {
    border: none;
}

.main-navigation ul li a {
    white-space: nowrap;
    padding: 16.5px 25px;
    font-family: "muli-regular", sans-serif;
    font-size: 14px;
    line-height: 15px;
    display: block;
    color: #8E8E8E;
}

.main-navigation ul li a:hover {
    background: transparent;
    color: #000000;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.sfHover>ul {
    display: block;
}