<div class="widget-sidebar">
  <h2 class="title-widget-sidebar">ARCHIVES</h2>
  <div class="last-post">
    <button class="accordion">5/7/2016</button>
    <div class="panel">
      <li class="recent-post">
        <div class="post-img">
          <img src="https://lh3.googleusercontent.com/-QlnwuVgbxus/WM1ZI1FKQiI/AAAAAAAADeo/nGSd1ExnnfIfIBF27xs8-EdBdfglqFPZgCJoC/w424-h318-n-rw/thumbnail2.jpg"
            class="img-responsive">
        </div>
        <a>
          <h5>Excepteur sint occaecat cupi non proident laborum.</h5>
        </a>
        <p>
          <small>
            <i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small>
        </p>
      </li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
  <hr>
</div>