<div class="widget-sidebar">
  <h2 class="title-widget-sidebar">RECENT POST</h2>
  <div class="content-widget-sidebar">
    <ul>
      <li class="recent-post">
        <div class="post-img">
          <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg"
            class="img-responsive">
        </div>
        <a>
          <h5>Excepteur sint occaecat cupi non proident laborum.</h5>
        </a>
        <p>
          <small>
            <i class="fa fa-calendar" data-original-title="" title=""></i> 30 Juni 2014</small>
        </p>
      </li>
      <hr>
    </ul>
  </div>
</div>