#blog-section {
    margin-top: 40px;
    margin-bottom: 80px;
}

.content-title {
    padding: 5px;
    background-color: #fff;
}

.content-title h3 a {
    color: #34495E;
    text-decoration: none;
    transition: 0.5s;
}

.content-title h3 a:hover {
    color: #F39C12;
}

.content-footer {
    background-color: #16A085;
    padding: 10px;
    position: relative;
}

.content-footer span a {
    color: #fff;
    display: inline-block;
    padding: 6px 5px;
    text-decoration: none;
    transition: 0.5s;
}

.content-footer span a:hover {
    color: #F39C12;
}

aside {
    margin-top: 30px;
    -webkit-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
    -moz-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
    box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
}

aside .content-footer>img {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid #fff;
}

.user-small-img {
    cursor: pointer;
}

.content-footer:hover .user-ditels {
    display: block;
}